    @font-face{
        font-family:"Nimbus Sans TW01";
        src:url("Fonts/75144806-5cb9-4743-95cf-40b7f3df5dda.eot?#iefix");
        src:url("Fonts/75144806-5cb9-4743-95cf-40b7f3df5dda.eot?#iefix") format("eot"),url("Fonts/bc1599b9-3e3c-4821-8a1b-37b230da78f8.woff2") format("woff2"),url("Fonts/4e93482e-40f7-4349-a9c2-f8882f15a93b.woff") format("woff"),url("Fonts/55bc1387-86c7-452b-ae79-2721ea3b0645.ttf") format("truetype"),url("Fonts/b5edab57-23a8-4bc5-bab3-df39a838bd75.svg#b5edab57-23a8-4bc5-bab3-df39a838bd75") format("svg");
    }
    @font-face{
        font-family:"Nimbus Sans TW01 Bold";
        src:url("Fonts/9dca25dd-18d2-4ec8-a997-ef28c2f4f136.eot?#iefix");
        src:url("Fonts/9dca25dd-18d2-4ec8-a997-ef28c2f4f136.eot?#iefix") format("eot"),url("Fonts/10bdcd04-2bea-42bc-ae40-153b09ae5c4d.woff2") format("woff2"),url("Fonts/ce398c7a-fb54-4409-89f7-241065e2af3d.woff") format("woff"),url("Fonts/fd862b64-8bf7-47e5-81d6-ee4cc1ac851f.ttf") format("truetype"),url("Fonts/75896f69-6e33-4f29-97b1-1a105d9d6396.svg#75896f69-6e33-4f29-97b1-1a105d9d6396") format("svg");
    }
    @font-face{
        font-family:"Nimbus Sans TW01Bla";
        src:url("Fonts/6e7669a6-aefe-4097-b421-9ec71403a22d.eot?#iefix");
        src:url("Fonts/6e7669a6-aefe-4097-b421-9ec71403a22d.eot?#iefix") format("eot"),url("Fonts/c253c5d7-8882-4cf6-a6b4-321cfb4ec9a7.woff2") format("woff2"),url("Fonts/3840226d-5bab-4b9b-80df-35e9c89e7be9.woff") format("woff"),url("Fonts/9ea9358a-bb9c-4c89-b262-7b66643417f2.ttf") format("truetype"),url("Fonts/1b198f74-3cd7-4858-98e8-ebd053ea936a.svg#1b198f74-3cd7-4858-98e8-ebd053ea936a") format("svg");
    }
